.clear {clear: both;} 

body {
	background-color: #fff; font-size: 14px; 
	/* Font rendering */
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h1 {font-size: 28px; }
h2 {font-size: 24px; }
h3 {font-size: 18px; }
h4 {font-size: 16px; }

a {
	color: #00ff00;
	text-decoration: none; 
	
	&:hover {color: $black; text-decoration: underline; }
	&:focus {}
	&:active {}
	&:visited {}

}