// Use for variables of colors and sizes that will be used repeatedly in the site.

// Sample vars, remove if not needed!
$font: 'Oswald', sans-serif;

$black: #000;
$dark_text: #262626;
$light_text: #e2e2e2;

$border: solid 1px #ccc;

